body {
  font-family: Arial, Helvetica, sans-serif !important;

}

.app{
  display: flex;
  gap: 20px;
  padding: 75px;
  /* background-color: ; */
  /* align-items: center; */
  justify-content: center;
}
