.resume {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 20% 80%;
  height: 1100px;
  width: 850px;
  /* grid-template-columns: ; */
  background-color: red;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 12px 48px 0px
}

.resume-header {
  color: #EEE;
  background-color: #508C9B;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  padding-left: 30px;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  border-bottom: 2px black solid;
}
.name {
  font-size: 75px;
}
.profession {
  font-size: 30px;
}

.resume-left {
  background-color: #EEE;
  padding: 30px;
  border-right: 2px black solid;
}
.resume-left-section {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.line {
  border: 1.5px solid black;
  width: 35px;
  display: flex;
  margin: 7px 0px 15px 0px;
}

.resume-left-section-title {
  font-size: 25px;
}
.resume-left-subsection {
  width: 100%;

  margin-bottom: 20px;
  font-size: 18px;
}
.resume-left-subsection-title {
  font-size: 18px;
  font-weight: bold;
}
.resume-right {
  background-color: white;
  padding: 20px;
}

.resume-right-section {
  /* background-color: honeydew; */
  width: 100%;
  /* height: 200px; */
  margin-bottom: 40px;
}

.resume-right-section-title {
  font-size: 25px;
}

.resume-right-section-line {
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* width: 95%; */
}

.resume-right-subsection.experience{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-top-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-title{
    font-size: 20px;
}

.experience-description{
    padding-left: 40px;
    overflow-wrap: break-word;
}

.resume-right-subsection.education{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.education-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.education-top-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.education-title{
    font-size: 20px;
}

.resume-right-subsection.education{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.letter-spacing-title{
  letter-spacing: 2px;
}
.letter-spacing-subtitle{
  letter-spacing: 1px;
}